/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    height: 100%;
}

h1 {
    font-size: 40px;
}

/** Website sections **/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 10px;
}

/* Signin Signup page */
.background-image{
    background-image: url("../assets/Images/hearts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Signin Signup page */
.index-body-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.index-body-wrapper > div {
    width: 50vw;
}

.main-logo {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* sign in form */
.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.page-content-wrapper  h1 {
    margin: 15px 10px;
    text-align: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border: 1px solid #ec0d0d;
    border-radius: 15px;
}

.form-wrapper > input {
    margin: 0px 10px 10px 10px;
    padding: 10px 10px;
    border: 2px solid #ec0d0d;
    border-radius: 15px;
    width: 100%;
}

.form-wrapper > label {
    margin: 0px 13px;
}

.form-wrapper h3 {
    text-align: center;
}

.form-wrapper > button {
    align-self: center;
}

.form-wrapper > input:focus {
    border: 2px solid #ec0d0d;
}

.remember-wrapper {
    align-self: center;
    display: flex;
    align-items: center;
}

.remember-wrapper > input {
    zoom: 1.2;
    margin: 15px 10px;
}

/* Sign up */
.signup-wrapper {
    margin: 10px 0px;
}

.signup-wrapper span {
    text-decoration: underline;
    color: #ec0d0d;
}

.signup-wrapper span:hover {
    cursor: pointer;
    color: #ec0d0d;
    transition: 500ms;
}


/* Signup popup */
.signup-popup {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 500px;
    height: 550px;
    border-color: #ec0d0d;
    border-radius: 15px;
}

.signup-popup h1 {
    margin: 10px 0px;
}

.signup-popup form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.signup-popup form > label {
    align-self: flex-start !important;
    margin: 0px 6%;
}

.signup-popup span {
    align-self: self-end;
    margin: 10px 10px;
}

.signup-popup input {
    width: 90%;
    margin: 0px 0px 15px 0px;
    padding: 10px 10px;
    border: 2px solid #ec0d0d;
    border-radius: 15px;
    align-self: center;
}

.signup-popup form > p {
    align-self: flex-start !important;
    margin: 0px 6%;
}

.signup-popup button {
    align-self: center;
}


/* Utilities */
.red {
    color: #ec0d0d;
}
.hide {
    display: none;
}

.bold-text {
    font-weight: bold;
}

.section-title {
    align-self: flex-start;
    font-size: 30px;
    margin: 20px 80px;
}

.btn {
    width:  fit-content;
    padding: 10px 50px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
}

.btn-red {
    background-color: #ec0d0d;
    color: #FFFFFF;
    border: none;
}

.btn-red:hover {
    cursor: pointer;
    background-color: #ec0d0d;
    transition: 500ms;
}

.grey-background:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
    cursor: pointer;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

.divider {
    border-bottom: 2px solid #ec0d0d;
    width: 100%;
    margin: 30px 0px;
}


/* get your match page */
.get-your-match-page-wrapper {
    background-color: #F9F9F9;
}

/* Navigation bar */
.nav {
    height: 80px;
    width: 100%;
    background-color: #ec0d0d;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo-title-wrapper {
    display: flex;
    align-items: center;
}

.logo-wrapper {
    width: 72px;
    height: 72px;
    padding: 5px;
    border-radius: 100px;
    transition-duration: 500ms;
}

.logo-wrapper:hover {
    background-color: #493A6F;
    cursor: pointer;
}

.title-wrapper {
    color: #FFFFFF;
    margin: 0px 10px;
}

.search-bar-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 30px;
}

.search-bar-wrapper span {
    color: rgb(118, 118, 118);
}

.search-bar-wrapper input {
    padding: 7px;
    border-radius: 30px;
    background-color: #f1f1f1;
    outline: none;
    border: none;
}

.nav-bar-btns {
    display: flex;
    list-style: none;
}

.nav-bar-item {
    color: #FFFFFF;
    font-size: 20px;
    margin: 5px 5px;
    width: 110px;
    text-align: center;
    transition-duration: 500ms;
}

.nav-bar-item > p {
    width: fit-content;
}

.nav-bar-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.nav-bar-item-active {
    font-weight: bold;
}

.nav-bar-item-active > p {
    width: fit-content;
    border-bottom: 3px solid #FFFFFF;
}

/* Hamburger menu */
.burger-menu {
    display: none;
}

.burger-menu-btn {
    color: #FFFFFF;
    zoom: 1.3;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
}

.burger-menu-btn:hover {
    cursor: pointer;
    background-color: #493A6F;
}

.burger-nav-bar-btns {
    background-color: #8367C7;
    transition: 500ms;
    display: none;
    list-style: none;
    position: absolute;
    right: 0;
    padding: 20px;
}

.display-burger-menu-items {
    display: flex !important;
    flex-direction: column;

}
