/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    height: 100%;
}

h1 {
    font-size: 40px;
}

/** Website sections **/
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 10px;
}

/* Signin Signup page */
.background-image{
    background-image: url("../assets/Images/hearts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Signin Signup page */
.index-body-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.index-body-wrapper > div {
    width: 50vw;
}

.main-logo {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* sign in form */
.page-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.page-content-wrapper  h1 {
    margin: 15px 10px;
    text-align: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 20px;
    background-color: #FFFFFF;
    border: 1px solid #ec0d0d;
    border-radius: 15px;
}

.form-wrapper > input {
    margin: 0px 10px 10px 10px;
    padding: 10px 10px;
    border: 2px solid #ec0d0d;
    border-radius: 15px;
    width: 100%;
}

.form-wrapper > label {
    margin: 0px 13px;
}

.form-wrapper h3 {
    text-align: center;
}

.form-wrapper > button {
    align-self: center;
}

.form-wrapper > input:focus {
    border: 2px solid #ec0d0d;
}

.remember-wrapper {
    align-self: center;
    display: flex;
    align-items: center;
}

.remember-wrapper > input {
    zoom: 1.2;
    margin: 15px 10px;
}

/* Sign up */
.signup-wrapper {
    margin: 10px 0px;
}

.signup-wrapper span {
    text-decoration: underline;
    color: #ec0d0d;
}

.signup-wrapper span:hover {
    cursor: pointer;
    color: #ec0d0d;
    transition: 500ms;
}
